i3blocks/#config#
i3blocks/config~
kitty/kitty.conf~
sway/config~
waybar/scripts/token.txt

autostart
blender
celluloid
Code*-*OSS
create-next-app-nodejs
dconf
discord

GIMP
go
godot
gtk-3.0
gtk-4.0
i3blocks
JetBrains
kew/library.dat
metropolis
mozilla
Mullvad*VPN
nextjs-nodejs
pulse
ranger
remmina
swaync
transmission
unity3d
vencord
mimeapps.list
pavucontrol.ini
QtProject.conf